.header {
  float: right;
  margin-right: 2rem;
}
.header:hover {
  cursor: pointer;
}
.header img {
  border-radius: 50%;
}
.header span {
  margin-left: 0.25rem;
  font-size: 1rem;
  color: black;
}

@media (max-width: 800px) {
  .header {
    margin-bottom: 1rem;
  }
}
