@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
.ant-layout-footer {
  padding: 15px;
}

body {
  background: #f0f2f5;
}

.ant-modal-title {
  text-align: center;
  font-size: 1.2rem;
}

.field {
  margin-bottom: 1rem;
  position: relative;
}
.field input {
  display: block;
  width: 100%;
  height: 3rem;
  padding: 0 1em;
  color: #404040;
  outline: 0;
  font-size: 1rem;
  border: 2px solid #bfbfbf;
}

.field .ant-select-selection--multiple .ant-select-selection__rendered{
    margin-top: .75rem;
}
.field .ant-select-selection{
    height: 3rem;
    font-size: 1rem;
}
.field input::placeholder {
  color: #a4abb3;
}
.field label {
  margin-bottom: 0.5rem;
  font-weight: bolder;
}
.field input + label {
  position: absolute;
  top: -1.45rem;
  left: 0.5rem;
  transition: all 0.1s;
  opacity: 1;
  z-index: 1;
  background: white;
  padding: 0 5px;
  transform: translateY(60%);
}
.field input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(50%);
}
.field .ant-calendar-picker,.field .ant-select {
  width: 100%;
}
.field .ant-calendar-picker + label,.field .ant-select + label {
  position: absolute;
  top: -1.45rem;
  left: 0.5rem;
  transition: all 0.1s;
  opacity: 1;
  z-index: 1;
  background: white;
  padding: 0 5px;
  transform: translateY(60%);
}
.field .error {
  margin-top: 0.375rem;
  color: #dc0000;
  text-align: left;
  font-size: 1rem;
}
.field .error span {
  margin-left: 0.25rem;
}

.submit {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5em;
}
.submit button {
  margin-left: 0.5rem;
}

/*Colors*/
.red {
  color: #dc4b39;
}

.blue {
  color: #4785eb;
}

.green {
  color: #3cb454;
}

.yellow {
  color: #fabc08;
}
.ml-1{
  margin-left: .5rem;
}
.ant-page-header{
  margin: 1rem .5rem 0;
}

